.App {
  align-content: center;
  max-width: 900px;
  margin: 30px auto;
}
form{
  border: 2px solid grey;
  padding: 5px;
}
table{
  width: 100%;
}
tr.rowTitle{
  border-bottom: 1px solid grey;
}
.title{
  float: left;
  color: brown;
}
table.students{
  align-self: center;
  border: 1px solid grey;
}
table.students tr.header{
  padding: 30px;
}

table.students tr:first-child td{
  background: grey;
  color: white;
  padding: 5px 125px;
}